body {    
    font-family: Inconsolata,monospace;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.6;
    color: #fff;
    height: 100%;
}

#nav-geral {
    margin-bottom: 0px;
    background-color: #fff;
}

#nav-geral a {
    color: #3d3d3d;
    font-size: 1.2em;
}
#content-geral {
    display: flex; 
    flex-direction: column;
    padding: 0;
}

#sobre {
    background-color: #EAB543;
}

#contato {
    background-color: #82589F;
}

@media(min-width: 768px ){
    #sobre, #contato {
        padding: 3em;
    }
    .img1, .sobre1 {
        padding-right: 0px;
        padding-left: 0px;
    }   
}

@media(max-width: 768px ){
    #sobre, #contato {
        padding: 1em;
    }     
}

footer {
    background: #2f3640;   
    padding: 1em;
}

#bt {
   background-color: #fff; 
   border: none;
}
#bt span {
    background-color: #3d3d3d;
}

.img1 img {    
    margin-top: 15px;
    width: 65%;
    border: solid .2em #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
